.rangeTime {
    margin: 2px 20px;
    /*border: 1px solid red;*/
}

.outer {
    margin: 0;
    padding: 0;
    width: 600px;
    overflow: hidden;
    display: inline-block;

}

.timeAxis {
    width: 625px;
    height: 20px;
    margin-left: -30px;
    box-sizing: border-box;
    position: relative;
}

.timeAxis .container {
    width: 80%;
    height: 1px;
    margin-left: 10%;
    background-color: #64a8f9;
    margin-top: 24px;
    position: relative;
}


.timeLength {

    width: 100%;
    position: absolute;
    top: -10px;
    border-radius: 3px;
}


.pieces {
    text-align: center;
    height: 10px;
    border-radius: 3px;
    background-color: #64a8f9;
    position: relative;
    cursor: pointer;
}

.pieces span {
    width: 140px;
    position: absolute;
    /*border: 1px solid red;*/
    left: -2px;
    top: -18px;
    font-size: 12px;
    text-align: left;
    color: #2196F3;
    display: none;
}

.directRix {
    width: 100%;
}

.directRix ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.directRix ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 125px;
}
